{{#each this}}
<div class="card p-2">
    <blockquote class="blockquote">
        <p class="mb-0">{{comment_text}}</p>
        <footer class="blockquote-footer font-italic">
            <cite title="Commenter"><small>{{user.username}}, on {{format_date created_at}}</small></cite>
        </footer>
    </blockquote>
</div>
{{/each}}