{{#if posts.length}}
<section>
    <h1>Hello, {{user.username}}</h1>
    {{#each posts as |post|}}
    {{> dashboard-content post}}
    {{/each}}
</section>
{{/if}}

<div>
    <button type="submit" class="btn btn-primary">New Post</button>
</div>

<script src="/js/newpost.js"></script>