{{#if posts.length}}
<section>
    <div class="row">
        <div>
            <h2>Hello, {{username}}</h2>
            <a href="/dashboard/new-form"><button class="btn btn-primary">New
                    Post</button></a>
        </div>
    </div>
    {{#each posts as |post|}}
    {{> dashboard-content post}}
    {{/each}}
</section>

{{else}}
<h5>You do not have any posts</h5>
{{/if}}